.card  {
    background-color: var(--secondary-color);
    width: 1200px;
}
input[type = text] {
    height: 60px;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
}

input[type = email] {
    height: 60px;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.subs-text {
    width: 500px;
}