<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3">
            Comments (1222)
        </h4>
        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">Last Updated 12/12/2023</small>
            <div class="mt-3 mb-3">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis necessitatibus molestiae unde eaque eveniet delectus voluptatem atque quod placeat, repudiandae sint ducimus soluta excepturi dolorem natus debitis nulla voluptates aliquid?
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 margin-left">View reply</a>
            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">Last Updated 12/12/2023</small>
            <div class="mt-3 mb-3">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis necessitatibus molestiae unde eaque eveniet delectus voluptatem atque quod placeat, repudiandae sint ducimus soluta excepturi dolorem natus debitis nulla voluptates aliquid?
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 margin-left">View reply</a>
            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">Last Updated 12/12/2023</small>
            <div class="mt-3 mb-3">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis necessitatibus molestiae unde eaque eveniet delectus voluptatem atque quod placeat, repudiandae sint ducimus soluta excepturi dolorem natus debitis nulla voluptates aliquid?
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 margin-left">View reply</a>
            <hr>
        </div>
    </div>
</div>