<div class="card shadow-effect" *ngIf="postData" [routerLink]="['/post', postData.id]">
    <img src="{{ postData?.postImg}}" alt="post-image" class="card-img-top">
    <div class="card-body">  
        <div class="top-line">
            <small class="bg-light text-center text-danger">{{ postData?.category.category }}</small>
        <small *ngIf="postData?.isFeatured" class="bg-light text-center margin-left text-success">Featured</small>
        <small class="bg-light text-center text-info margin-left">Views - {{ postData?.views }}</small>
        </div>

        <h5 class="mt-3 title">{{ postData?.title }}</h5>
        <p class="excerpt">{{ postData?.excerpt | slice:0:125 }}</p>
        <small class="bg-light text-center text-warning mt-2">Last Updated - {{ postData?.createdAt?.toDate() | date:'d-M-y'}}</small>
    </div>
</div>